.App {
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  margin-bottom: 30px;
  min-width: 1200px;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.json-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
}

.json-block textarea {
  width: 500px;
  height: 400px;
  font-size: 18px;
}

.json-block button {
  margin-top: 20px;
  height: 60px;
  width: 200px;
  font-size: 20px;
}

.form-block {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-left: 20px;
}
